<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue.js学习-双向数据绑定</title>
		<link rel="stylesheet" href="css/data-bind.css" />
	</head>
	<body>
		<div id="main" v-cloak @click="hideTooltip">
			<div class="tooltip" v-if="show_tooltip" @click.stop>
				<input type="text" v-model="text_content"/>
			</div>
			<p @click.stop="toggleTooltip">{{ text_content }}</p>
		</div>
		
		<!-- 这是我们的view -->
		<div id="app">
			<p>{{ message }}</p>
			<input type="text" v-model="message"/>
		</div>
	</body>
	<script type="text/javascript" src="js/common/vue.js" ></script>
	<script>
		var demo = new Vue({
			el:'#main',
			data: {
				show_tooltip: false,
				text_content: 'Edit me.'
			},
			methods: {
				hideTooltip: function(){
					this.show_tooltip = false;
				},
				toggleTooltip: function(){
					this.show_tooltip = !this.show_tooltip;
				}
			}
		})
		
		/* 这是我们的Model */
		new Vue({
			el:'#app',
			data:{
				message:'Hello World!'
			}
		})
	</script>
</html>
