<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue.js-Render函数</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div id="app-1">
			<ul v-if="items.length">
				<li v-for="item in items">
					{{ item.name }}
				</li>
			</ul>
			<p v-else>
				No items found.
			</p>
		</div>
	</body>
	
	<script type="text/javascript" src="js/common/vue.js" ></script>
	<script>
		render: function(createElement){
			if(this.items.length){
				return createElement('ul', this.items.map(function(item){
					return createElement('li', item.name)
				}))
			}else{
				return createElement('p', 'No items found.')
			}
		}
		
		new Vue({
			el:'#app-1'
		})
	</script>
</html>
